<template id="tmplListTrans">
    <div class="globalShadow" id="globalShadow" onclick="deleteAll()"></div>
    <script type="text/javascript">
        function deleteAll() {
            document.querySelector("#frame-0").remove();
            document.querySelector("#globalShadow").remove();
        }
    </script>

    <script src="../scripts/removeTran.js"></script>
    <div class="frame-0" id="frame-0">
        <div class="head_frame-0">
            <form id="showTrans_frame-0"></form>
            <div class="select_frame-0 frame-0_a">
                <select form="showTrans_frame-0">
                    <option value="type0" name="option_frame-0" selected>All</option>
                    <option value="type1" name="option_frame-0">Expense</option>
                    <option value="type2" name="option_frame-0">Income</option>
                </select>
            </div>

            <div class="textarea_frame-0 frame-0_a">
                <div>
                    <textarea id="description_frame-0" placeholder="description"></textarea>
                </div>
            </div>

            <div class="date-time_frame-0">
                <div class="div-day_frame-0 frame-0_a">
                    <input placeholder="day" class="date_frame-0" type="number" name="day" id="day_frame-0" min="1" max="31" form="showTrans_frame-0"/>
                </div>
                <div class="div-month_frame-0 frame-0_a">
                    <input placeholder="month" class="date_frame-0" type="number" name="month" id="month_frame-0" min="1" max="12" form="showTrans_frame-0"/>
                </div>
                <div class="div-year_frame-0 frame-0_a">
                    <input placeholder="year" class="date_frame-0" type="number" name="year" id="year_frame-0" min="2000" max="2018" form="showTrans_frame-0"/>
                </div>
            </div>

            <div id="div-button_showTrans_frame-0" class="div-button_showTrans_frame-0">
                <input type="button" class="buttonShowTrans_frame-0" id="buttonShowTrans_frame-0" form="showTrans_frame-0" onclick="ripple(); loadTrans('showTrans_frame-0')">
                <script type="text/javascript">
                    function ripple() {
                        var elm = document.getElementById("div-table");
                        elm.style.animation = "ripple-list 1s";
                        var newone = elm.cloneNode(true);
                        elm.parentNode.replaceChild(newone, elm);

                        elm = document.getElementById("buttonShowTrans_frame-0");
                        elm.style.animation = "hideElement .5s";
                        newone = elm.cloneNode(true);
                        elm.parentNode.replaceChild(newone, elm);
                    }
                </script>
            </div>
        </div>
        <div class="div-table" id="div-table">
            <div class="div-Wait" id="div-Wait">Wait...</div>
            <table id="list_frame-0" class="list">
                <tr class="tr-list-th">
                    <th class="th-list">Type</th>
                    <th class="th-list">Sum</th>
                    <th class="th-list">Date</th>
                    <th class="th-list">Description</th>
                </tr>
            </table>
            <div class="cap-table"></div>
        </div>
    </div>
</template>