<template id="tmplLastTran">
    <div class="form-lastTrans">
        <div class="head-lastTrans" id="head-lastTrans">
            <div class="head-text">
                <h4 class="h4-head lastTrans">last three transactions</h4>
            </div>
        </div>

        <div class="transactions">
            <table class="tableTrans">
                <tr class="tr-1">
                    <td>income</td>
                    <td>12.03.2018</td>
                    <td>1000 UAH</td>
                </tr>
                <tr>
                    <td>expense</td>
                    <td>12.03.2018</td>
                    <td>123.12 UAH</td>
                </tr>
                <tr>
                    <td>expense</td>
                    <td>11.03.2018</td>
                    <td>54.87 UAH</td>
                </tr>
            </table>
        </div>
    </div>
</template>