<template id="tmplListTrans">
    <div class="globalShadow" id="globalShadow" onclick="deleteAll()"></div>
    <script type="text/javascript">
        function deleteAll() {
            document.querySelector("#frame-0").remove();
            document.querySelector("#globalShadow").remove();
        }
    </script>

    <div class="frame-0" id="frame-0">
        <div class="head_frame-0">
            <form id="showTrans_frame-0"></form>
            <div class="select_frame-0 frame-0_a">
                <select form="showTrans_frame-0">
                    <option value="type0" selected>All</option>
                    <option value="type1">Expense</option>
                    <option value="type2">Income</option>
                </select>
            </div>

            <div class="textarea_frame-0 frame-0_a">
                <div>
                    <textarea id="textarea_frame-0" placeholder="description"></textarea>
                </div>
            </div>

            <div class="date-time_frame-0">
                <div class="div-day_frame-0 frame-0_a">
                    <input placeholder="day" class="date_frame-0" type="number" name="day" id="day_frame-0" min="1" max="31" form="showTrans_frame-0"/>
                </div>
                <div class="div-month_frame-0 frame-0_a">
                    <input placeholder="month" class="date_frame-0" type="number" name="month" id="month_frame-0" min="1" max="12" form="showTrans_frame-0"/>
                </div>
                <div class="div-year_frame-0 frame-0_a">
                    <input placeholder="year" class="date_frame-0" type="number" name="year" id="year_frame-0" min="2000" max="2018" form="showTrans_frame-0"/>
                </div>
            </div>
        </div>
        <div class="div-table">
            <table class="list">
                <tr class="tr-list_th">
                    <th class="th-list">Type</th>
                    <th class="th-list">Sum</th>
                    <th class="th-list">Date</th>
                    <th class="th-list">Description</th>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
                <tr class="tr-list">
                    <td class="td-list">Income</td>
                    <td class="td-list">1000 UAH</td>
                    <td class="td-list">12-03-2018 12:12:12</td>
                    <td class="td-list">TESTS-TEST</td>
                </tr>
            </table>
            <div class="cap-table"></div>
        </div>
    </div>
</template>