.frame-0{
    position: absolute;
    top: 5%;
    left: 20%;
    width: 800px;
    height: 600px;
    background: white;
    z-index: 12;

    overflow: hidden;
}

/*########
Head
#########*/
.head_frame-0{
    width: 100%;
    height: 100px;
    background: rgba(0, 128, 218, 0.42);
}

/*#########
Type of Transactions
#########*/
@keyframes changeWidth {
    0%{
        width: 60px;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    }
    50%{
        width: 80px;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);

    }
    100%{
        width: 100px;
        transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    }
}

.select_frame-0{
    position: relative;
    left: 20px;
}

.select_frame-0 select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    outline: none;

    width: 100px;
    height: 30px;
    padding-top: 3px;
    padding-left: 10px;

    border: 0;
    border-radius: 20px;

    -webkit-appearance: none;
    background: white url("../resources/ic_keyboard_arrow_down_black_18dp_1x.png") 96% / 15%  no-repeat ;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

.select_frame-0 select:hover{
    width: 150px;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

/*#######
Description of Transactions
########*/
.textarea_frame-0{
    position: relative;
    left: 25%;
    top: -30px !important;
}

#description_frame-0{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

    width: 100px;
    height: 25px;

    outline: none;
    overflow: hidden;
    resize: none;

    border-radius: 20px;
    border: 1px solid white;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

#description_frame-0:focus{
    width: 300px;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

#description_frame-0:focus::-webkit-input-placeholder{
    color: #356ec8;
}

/*#######
Date of Transactions
#######*/
.date-time_frame-0{
    position: relative;
    left: 70%;
    top: -10px !important;
    margin-top: -55px;
}

.frame-0_a{
    display: inline;
}

#day_frame-0, #month_frame-0, #year_frame-0{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

    width: 50px;
    height: 25px;

    outline: none;

    border-radius: 20px;
    border: 1px solid white;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

#month_frame-0{
    width: 60px;
}

#day_frame-0:focus, #month_frame-0:focus, #year_frame-0:focus{
    width: 100px;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

#day_frame-0:invalid, #month_frame-0:invalid, #year_frame-0:invalid{
    color: #bf0000;
}

#day_frame-0:focus::-webkit-input-placeholder{
    color: #356ec8;
}

#month_frame-0:focus::-webkit-input-placeholder{
    color: #356ec8;
}

#year_frame-0:focus::-webkit-input-placeholder{
    color: #356ec8;
}

.buttonShowTrans_frame-0{
    position: relative;
    left: 92%;

    width: 50px;
    height: 50px;
    outline: none;
    z-index: 15;

    background: white url("../resources/ic_done_black_24dp_1x.png") center center no-repeat;

    border: none;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
}

#showTrans_frame-0{
    width:248px;
    height:28px;
}


/*########
Table
########*/
@keyframes ripple-list {
    0%{
        background: rgba(51, 174, 255, 0.37);
    }
    100%{
        background: none;
    }
}

.div-table{
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 25px;
}

.list{
    position: relative;
    top: 24%;
    left: 5%;

    width: 89%;

    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border-collapse: collapse;
}

.td-list{
    height: 60px;
}

.tr-list{
    height: 50px;
    border: none;
    border-bottom: 2px solid #0080FF;
}

.tr-list:hover{
    background: rgba(51, 174, 255, 0.03);
}

.td-button{
    width: 50px;
}

.div-Wait{
    position: absolute;
    /*margin-left: 45%;*/
    margin-top: 45px;
    left: 45%;
    color: rgba(0, 128, 218, 0.42);

    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

/*#########
Remove button
##########*/
/*@keyframes hideElement {*/
    /*0%{opacity: .1;}*/
    /*10%{opacity: .2;}*/
    /*20%{opacity: .3;}*/
    /*30%{opacity: .4;}*/
    /*40%{opacity: .5;}*/
    /*50%{opacity: .6;}*/
    /*60%{opacity: .7;}*/
    /*70%{opacity: .8;}*/
    /*80%{opacity: .9;}*/
    /*90%{opacity: 1;}*/
/*}*/

.rem{
    position: relative;
    /*45px, 45px*/
    width: 25px;
    height: 25px;
    /*35px*/
    border-radius: 20px;
    outline: none;

    cursor: pointer;

    border: 0;

    background: #c80000 url("../resources/ic_clear_white_18dp_1x.png") no-repeat;
    background-position-x: center;
    background-position-y: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: background-color .3s;
}

.rem:focus{
    animation-fill-mode: none;
    animation: hideElement 1s;
}

/*########
Cap of table
#########*/
.cap-table{
    height: 450px;
}

/*>>>>>>>>>>>
Shadow
<<<<<<<<<<<<*/
.globalShadow{
    position: absolute;

    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.22);
    z-index: 11;
}

