/*
PARAMETERS:
    1. font-family: 'Josefin Sans', sans-serif;
*/

body{
    background: #f0f0f0;
}

html body{
    overflow: hidden;
}

.logo{
    position: fixed;
    left: 30%;
    top: 26%;
    bottom: 50%;
    z-index: 0;
}

.version{
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 9998;
}


/*>>>>>>>>>>
Clear Blocks
<<<<<<<<<<<<*/
.block{
    position: relative;
    width: 420px;
    height: 700px;
    display: inline-block;
    margin-top: -2%;
    margin-left: 11px;
    margin-right: 1px;
    z-index: 1;
    overflow: hidden;
}

[class*="column"]{
    max-height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-right: 25px;
}

[class*="form"]{
    margin-top: 90px;
    margin-left: 10px;
    word-wrap: break-word;
    position: relative;
    max-height: 100%;
    width: 100%;
    height: 150px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}