<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<display-name>noteCoin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>request</servlet-name>
		<servlet-class>com.noteCoin.parser.Parser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>request</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

</web-app>
